@model ReportViewModel
@inject SignInManager<ApplicationUser> signInManager


@{
    ViewBag.Title = "Report";
}
<form method="post">

    <input type="hidden" asp-for="Id" />

    <div class="card m-3">
        <div class="card-header">
            <h4>
                Title:
                @Model.Time
            </h4>
        </div>

        <div  class="card-body">
            <h5>
                @Model.FirstName&nbsp;@Model.LastName
            </h5>
        </div>

        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            //ponuđeni buttoni remove

            <div class="card-footer">

                <button disabled type="submit" asp-action="RemoveReport" asp-route-id="@Model.Id" class="btn btn-secondary"
                        onclick="return confirm(`Are you sure you want to remove this report? The creators confirmation will be needed`)">
                    Remove
                </button>
            </div>
        }
    </div>
</form>
