@model List<ReportViewModel>
@inject SignInManager<ApplicationUser> signInManager


@{
    ViewBag.Title = "Pending reports";
}

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <h3>Pending reports</h3>

    @if (Model.Any())
    {
        foreach (var report in Model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h4>@report.Time</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@report.FirstName&nbsp;@report.LastName</h5>
                </div>

                <div class="card-footer">
                    <form method="post">
                        <input type="hidden" value="1" name="statId" />
                        <button type="submit" asp-action="UpdateStatus" asp-route-id="@report.Id" class="btn btn-primary">
                            Accept
                        </button>
                    </form>
                    <form method="post">
                        <input type="hidden" value="2" name="statId" />
                        <button type="submit" asp-action="UpdateStatus" asp-route-id="@report.Id" class="btn btn-secondary"
                                onclick="return confirm(`Are you sure you want to remove this report?`)">
                            Remove
                        </button>
                    </form>
                </div>
            </div>
        }
    }

    else
    {
        <h4>There are no time reports pending.</h4>
    }
}
