@model List<Report>


@{
    ViewBag.Title = "Report";
}

<a asp-action="AddReport" class="btn btn-primary">New time report</a>

@if (Model.Any())
{
    @foreach (var report in Model)
    {

        @*<input type="hidden" asp-for="Id" />*@

        <div class="card m-3">
            <div class="card-header">
                <h4>
                    @report.FirstName&nbsp;@report.LastName
                </h4>
            </div>

            <div class="card-body">

                <h4>
                    Time:
                    @report.Time
                </h4>

                @if (report.Status.Value == "Accepted")
                {
                    <h5>
                        Status: Accepted
                    </h5>
                }
                else if (report.Status.Value == "Reviewing")
                {
                    <h5>
                        Status: Pending
                    </h5>
                }

                else
                {
                    <h5>
                        Status: Rejected
                    </h5>
                }
            </div>

            @* izbristi kad god želi ili samo kad je odbijeno? *@
            <div class="card-footer">

                @if (report.Status.Value == "Rejected")
                {
                    <form method="post">
                        <input type="hidden" value="3" name="statId" />
                        <button type="submit" asp-action="UpdateStatus" asp-route-id="@report.Id" class="btn btn-primary"
                                onclick="return confirm(`The report will be sent again for re-evaluation`)">
                            Resend
                        </button>
                    </form>
                }
                <form method="post">
                    <input type="hidden" value="4" name="statId" />
                    <button type="submit" asp-action="UpdateStatus" asp-route-id="@report.Id" class="btn btn-secondary"
                            onclick="return confirm(`Are you sure you want to delete this report?`)">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}
else
{
    <h4>There are no time reports yet created.</h4>
}
