@{
    ViewBag.Title = "NotFound";
}

@if (ViewBag.ErrorMessage == null)
{
    <h2>
        Unfortunately, we could not find what you were looking for
    </h2>

    <br />
    <h6><a asp-action="Index" asp-controller="Home">return home</a></h6>
}
else
{
    <h2>
        @ViewBag.ErrorMessage
    </h2>

    <br />
    <h6><a asp-action="GetCustomers" asp-controller="Customer">return home</a></h6>
}


